In [1]:
import numpy as np

In [35]:
#prgm 1
V1 = np.random.randint(1000 , size = 100)
print(V1)

[686 542 179 919 876 496 847 285 125 462 916  34 362 523 377 544 377 917
 198 328  97 843 615  53 575 726 875  33 792 356 477 784 318 474 207 769
 540 918 869 334 397 488   0 250 829 834  35  35 347 480 279 264 647 323
 588 739 647 187 996 970  59 443 296 129 203 701 971 571 241 412 435 508
 261 963 203 608 147 815 562  62 143  32 482 633 570 529  56 293 871 949
 221 765 768 378 918 810  14 268 669 228]

In [36]:
V1.sort()
print(V1)
print(len(V1))

[  0  14  32  33  34  35  35  53  56  59  62  97 125 129 143 147 179 187
 198 203 203 207 221 228 241 250 261 264 268 279 285 293 296 318 323 328
 334 347 356 362 377 377 378 397 412 435 443 462 474 477 480 482 488 496
 508 523 529 540 542 544 562 570 571 575 588 608 615 633 647 647 669 686
 701 726 739 765 768 769 784 792 810 815 829 834 843 847 869 871 875 876
 916 917 918 918 919 949 963 970 971 996]
100

In [37]:
#prgm 2
V2 = V1 * 3
print(len(V1))
V2

100

array([   0,   42,   96,   99,  102,  105,  105,  159,  168,  177,  186,
        291,  375,  387,  429,  441,  537,  561,  594,  609,  609,  621,
        663,  684,  723,  750,  783,  792,  804,  837,  855,  879,  888,
        954,  969,  984, 1002, 1041, 1068, 1086, 1131, 1131, 1134, 1191,
       1236, 1305, 1329, 1386, 1422, 1431, 1440, 1446, 1464, 1488, 1524,
       1569, 1587, 1620, 1626, 1632, 1686, 1710, 1713, 1725, 1764, 1824,
       1845, 1899, 1941, 1941, 2007, 2058, 2103, 2178, 2217, 2295, 2304,
       2307, 2352, 2376, 2430, 2445, 2487, 2502, 2529, 2541, 2607, 2613,
       2625, 2628, 2748, 2751, 2754, 2754, 2757, 2847, 2889, 2910, 2913,
       2988])

In [38]:
#prgm 3
print(V2.mean())
print(np.std(V2))

1445.1
867.1092491722135

In [31]:
#prgm 4
arr_1 = np.zeros([4,3] , dtype = 'int16')
print(arr_1)

[[0 0 0]
 [0 0 0]
 [0 0 0]
 [0 0 0]]

In [41]:
arr_1 = np.random.randint(100 , size = [4,3])
print(arr_1)

[[92 50 78]
 [37 82 35]
 [93 53 37]
 [43  9  4]]

In [43]:
arr_2 = arr_1.flatten()
print(arr_2)

[92 50 78 37 82 35 93 53 37 43  9  4]

In [46]:
#prgm 5
S1 = “I am a great learner. I am going to have an awesome life.”
print(S1.where("am"))

SyntaxError: invalid character '“' (U+201C) (4016309686.py, line 2)